.header {
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  img {
    width: 75px;
  }
}

.Divider {
  height: 1px solid black;
}
