.profile {
  float: left;
  justify-content: center;
  p {
    width: auto;
    font-size: larger;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  img {
    width: 200px;
  }
}
.down-arrow {
  position: fixed;
  bottom: 0vh;
  justify-content: center;
}
